# Titanic w/ Flax

In [2]:
from flax import linen as nn
from flax.metrics import tensorboard
from flax.training import train_state
import jax
import jax.numpy as jnp
import ml_collections
import numpy as np
import optax
import tensorflow_datasets as tfds
import pandas as pd

In [5]:
train_df = pd.read_csv('data/titanic/train_clean.csv')
test_df = pd.read_csv('data/titanic/test_clean.csv')
combine = [train_df, test_df]
train_df

     Survived  Pclass  Sex  Age     Fare Embarked  IsAlone
0           0       3    0    1   7.2500        S        0
1           1       1    1    2  71.2833        C        0
2           1       3    1    1   7.9250        S        1
3           1       1    1    2  53.1000        S        0
4           0       3    0    2   8.0500        S        1
..        ...     ...  ...  ...      ...      ...      ...
886         0       2    0    1  13.0000        S        1
887         1       1    1    1  30.0000        S        1
888         0       3    1    1  23.4500        S        0
889         1       1    0    1  30.0000        C        1
890         0       3    0    1   7.7500        Q        1

[891 rows x 7 columns]